.root {
    -fx-background-color: #5A9F64FF;
    -fx-font-family: "Courier New";
}


.menu {
    -fx-background-color: #E0E5DA;
}

.menu .context-menu {
    -fx-background-color: #E0E5DA;
}

.menu-item {
    -fx-background-color: #E0E5DA;
    -fx-font-family: "Courier New Bold";
}

.menu-item:hover {
    -fx-background-color: #41413f;
}

#menuBar {
    -fx-background-color: #E0E5DA;
}

#betButton {
    -fx-background-color: #586855;
    -fx-border-color: #f0f6f1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

#betButton:hover {
    -fx-opacity: 0.5;
}